.vscode/
.venv/
# migrations
sgp/__pycache__/
teste/
Book1.xlsx
__pycache__/
files/*
sgp/test.db
poetry.lock
sgp/teste.py
sgp-front/
sgp/templates/index-componentizado.html
index.html
sgp_real.csv
.cspell/
# populadb.py
# test.db
test.db.old
.python-version
node_modules/
package-lock.json
tailwind.config.js
# static/.webassets-cache/
# static/
files/*
migrations
test.db
migrations.zip
templates/components.j2
config.py
sgp/migrations/
sgp/files
sgp/static/.webassets-cache
sgp/templates/novo_old.html
sgp/populadb.py
sgp/templates/login_old.html
