@import url(base.css);

.table tbody td, .table tbody th {
    --tw-bg-opacity: 1;
}
$bd-r: 5%;
$pad: 4px 2px;

p {
    background-color: yellow;
    width: 50%;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    padding: 1px 0 ;
}

table {

    width: 100%;

    th{
        border-radius: $bd-r;
        border: 1px solid black;
        padding: $pad;
    }

    td{
        border: 1px solid black;
        border-radius: $bd-r;
        padding: $pad;
    }

    .bg-white{
        background-color: white;
    }

    .bg-red{
        background-color: rgb(255, 67, 117);
    }
    
    .bg-yellow{
        background-color: rgb(255, 255, 98);
    }
}