.logout img {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    max-width: 50px;
    margin: 10px
}

.logout img:hover {
    border-radius: 100%;
    box-shadow: 2px 2px gray;
}