{% extends 'layout.html' %}
{% block link_rel %}
{% endblock link_rel %}
{% block main %}
{% block logo_class %}

{% endblock logo_class %}
<main class="container mx-auto px-6 mb-auto">

	<div class="flex justify-center">
		<img src="{{ url_for('static',filename='imgs/lupa2-trans.ico')}}" alt="" class="h-16 w-16" srcset="">
	</div>
	<div class="cloud x2"></div>
	<div id="app">
		<div class="form-control">
			<label class="label">
				<span class="label-text">connected</span>
			</label>
			<div class="relative">
				<input name="busca" v-model="busca" type="text" placeholder="Comece a digitar..."
					class="w-full pr-16 input input-primary input-bordered">
			</div>
		</div>
		<br>
		<cliente-item v-for="cliente in clientes" :key="cliente.id" :cliente="cliente"></cliente-item>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
	<script src="https://unpkg.com/lodash@4.17.20/lodash.min.js"></script>

	<script type="text/x-template" id="cliente-item-template">
		<li tabindex="0" class="text-black collapse border rounded-box border-base-300 collapse-arrow">
			<div class="collapse-title text-xl font-medium flex">
				<div class="avatar ">
					<div class="rounded-full w-10 h-10">
						<img :src="'https://avatars.dicebear.com/api/gridy/'+cliente.nome+'.svg'">
					</div>
					<span class="my-auto px-1">@{cliente.nome}</span>
				</div>
				<a :href="'{{ url_for('novo') }}/' + cliente.id" class="btn btn-outline btn-accent btn-sm align-top ml-auto mr-5">+Novo Projeto</a>
			</div>
			<div class="collapse-content">
				<p>@{cliente.endereco} - @{cliente.telefone}</p>
				<b>Projetos: </b>
			<div class="inline" v-for="proj in cliente.projetos">@{proj.id} - </div>
			</div>
		</li>
	</script>
	<script>
		const app = {
			data() {
				return {
					busca: '',
					clientes: [{
						endereco: "longe pakas",
						id: 2,
						nome: "cesar",
						numero: null,
						projetos: [{
							"data_apresentacao": null,
							"data_medicao": null,
							"id": 2,
							"usuario_id": 1
						}],
						telefone: "19 929 919911"
					}, ]
				}
			},
			watch: {
				busca() {
					this.busca.trim() ? this.faz_busca() : null
				}
			},
			methods: {
				faz_busca: _.debounce(function () {
					axios
						.get(
							'{{ url_for("cliente_bp.busca_cliente",busca="") }}' //substitui pela url de busca
							+
							this.busca.trim())
						.then(response => {
							//debugger
							this.clientes = response.data.clientes
							console.log(this.resultados);
						})
						.catch(error => {
							this.resultados = 'Erro! Não foi possível adquirir resultados da API: ' + error
						})

				}, 550)
			},
			mounted() {
				axios
					.get(
						'{{ url_for("cliente_bp.lista_clientes") }}' //substitui pela url de busca
					)
					.then(response => {
						//debugger
						this.clientes = response.data.clientes
						console.log(this.resultados);
					})
					.catch(error => {
						this.resultados = 'Erro! Não foi possível adquirir resultados da API: ' + error
					})
			},
		}

		const vm = Vue.createApp(app)
		vm.config.compilerOptions.delimiters = ['@{', '}']
		vm.component('cliente-item', {
			props: ["cliente"],
			data() {
				return {
					show: false
				}
			},
			template: '#cliente-item-template',

		})
		vm.mount("#app")
	</script>



</main>
{% endblock main %}