{% extends 'layout.html' %}
{% block link_rel %}
<link href="{{ url_for('static', filename='css/floatin-label.css') }}" rel="stylesheet">
{% endblock link_rel %}

{% block main %}
<main class="container mx-auto px-6 mb-auto">

    <div class="flex justify-center">
        <img src="{{ url_for('static',filename='icons/file.png')}}" alt="" class="h-16 w-16" srcset="">
    </div>
    <div class="cloud x2"></div>
    <div id="app" class="border bg-base text-base-content p-1">

        <button @click="editando=!editando" class="btn btn-accent">
            <i class="fas fa-edit">Editar</i></button>
        <p><b>Cliente: </b>
            <div>@{cliente}</div>
        </p>

        <p><b>Data de Entrada: </b></p>
        <input :readonly="!editando" type="date" v-model="data_entrada" class="input input-info input-bordered mr-1">
        <input :readonly="!editando" type="time" v-model="hora_entrada_locale"
            class="input input-info input-bordered mr-1">
        <button-save v-if="editando" :field_name="'data_entrada'"></button-save>

        <p><b>Data medição: </b></p>
        <input :readonly="!editando" type="date" v-model="data_medicao" class="input input-info input-bordered mr-1">
        <input :readonly="!editando" type="time" v-model="hora_medicao_locale"
            class="input input-info input-bordered mr-1">
        <button-save v-if="editando" :field_name="'data_medicao'"></button-save>

        <p><b>Data apresentação: </b></p>
        <input :readonly="!editando" type="date" v-model="data_apresentacao"
            class="input input-info input-bordered mr-1">
        <input :readonly="!editando" type="time" v-model="hora_apresentacao_locale"
            class="input input-info input-bordered mr-1">
        <button-save v-if="editando" :field_name="'data_apresentacao'"></button-save>

        <p class="mt-1"><b>Aprovado: </b>
            <input type="checkbox" v-model="projeto.aprovacao" class="checkbox checkbox-accent align-middle	"
                :readonly="!editando">
        </p>

        <p><b>Orçamento: </b>@{projeto.orcamento}</p>
        <!-- <p><b>Fotos: </b>@{projeto.fotos}</p>
        <input type="file" name="fotos" multiple>
        <button class="btn btn-accent btn-outline" @click="fotos">
            <i class="fas fa-file-upload text-2xl"></i>
        </button> -->
        <b>Ambientes: </b>
        <ol>
            <li v-for="(amb, index) in projeto.ambientes" :key="amb.id">
                @{amb.nome}
            </li>
        </ol>

        <p><b>Arquivos: </b>
            <a v-for='arq in projeto.arquivos' :href='arq.url'>@{arq.nome} - </a>
        </p>
<br>
        <!-- <p><b>Arquivos: </b></p> -->
        <input type="file" id="files" ref="files" hidden multiple v-on:change="handleFilesUpload()">
        <div v-for="(file, key) in files" class="border-base-300">@{ file.name } <span class="remove-file"
                v-on:click="removeFile( key )">
                <button class="btn btn-error btn-xs" @click="fotos">
                    <i class="fas fa-minus"></i>
                </button></span>
        </div>
        <button class="btn btn-success btn-sm" @click="addFiles">
            <i class="fas fa-plus"></i>
        </button>
        <button class="btn btn-accent " @click="submitFiles">
            <i class="fas fa-file-upload text-2xl"></i>
        </button>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script type="text/x-template" id="button-save">
        <button v-show="save" @click="save=!save,loading=true;atualizar_projeto(field_name)"
            class="btn btn-square btn-accent btn-sm">
            <i class="fas fa-save "></i>
        </button>
        <button  v-show="loading" @click="loading=!loading,ready=true"
            class="btn btn-square btn-warning btn-sm">
            <i  class="fas fa-cog fa-spin"></i>
        </button>
        <button v-show="ready" @click="ready=!ready,save=true"
            class="btn btn-square btn-success btn-sm">
            <i   class="fas fa-check"></i>
        </button>
        </script>
    <script type="application/javascript">
        const App = {
            compilerOptions: {
                delimiters: ['@{', '}']
            },
            data() {
                return {
                    projeto: {
                        cliente: {}
                    },
                    editando: false,
                    fotos: [],
                    arquivos: [],
                    files: []
                }
            },
            methods: {
                add_amb() {
                    this.ultimo = this.ultimo + 1
                    console.log(this.ultimo, this.ambientes)
                    this.ambientes.push({
                        nome: `ambiente-${this.ultimo}`,
                        id: this.ultimo,
                        label: 'Ambiente ' + this.ultimo
                    })
                },
                get_hora(field_name) {
                    // debugger
                    return this.projeto["data_" + field_name] ?
                        new Date(this.projeto["data_" + field_name]).toLocaleTimeString() : ""
                },
                set_hora(field_name, nova_hora) {
                    // debugger
                    let data = this["data_" + field_name] === "Não definida" ? "2001-01-01" : this["data_" +
                        field_name]
                    this.projeto["data_" + field_name] = new Date(data + "T" + nova_hora).toISOString()
                },
                get_data(field_name) {
                    if (field_name === "entrada") {
                        // debugger
                    }

                    return this.projeto["data_" + field_name] ?
                        new Date(this.projeto["data_" + field_name]).toISOString().split('T')[0] :
                        "Não definida"
                },
                set_data(field_name, nova_data) {
                    let hora = this["hora_" + field_name] === "" ? "00:00" : this["hora_" + field_name]
                    this.projeto["data_" + field_name] = new Date(nova_data + "T" + hora).toISOString()
                },
                addFotos(event) {
                    console.log(event.target.files);
                },
                addFiles() {
                    this.$refs.files.click();
                },
                /*
                    Submits files to the server
                */
                submitFiles(button) {
                    /*
                      Initialize the form data
                    */
                    let formData = new FormData();
                    /*
                        Iteate over any file sent over appending the files
                        to the form data.
                    */
                    for (var i = 0; i < this.files.length; i++) {
                        let file = this.files[i];
                        formData.append('files[' + i + ']', file);
                    }
                    /*
                        Make the request to the POST /select-files URL
                    */
                    //    debugger
                    axios
                        .patch("{{ url_for('projeto_bp.update_projeto',pk=projeto_id) }}",
                            formData, {
                                headers: {
                                    'Content-Type': 'multipart/form-data'
                                }
                            }
                        ).then(function () {
                            console.log('SUCCESS!!');
                            button.classList.remove('loading')
                        })
                        .catch(function (err) {
                            // debugger
                            console.log('FAILURE!!'+err);
                            alert(
                                'Erro '+err.status+': '+err.data.message
                            )
                        });
                },
                /*
                  Handles the uploading of files
                */
                handleFilesUpload() {
                    let uploadedFiles = this.$refs.files.files;
                    /*
                      Adds the uploaded file to the files array
                    */
                    for (var i = 0; i < uploadedFiles.length; i++) {
                        this.files.push(uploadedFiles[i]);
                    }

                },
                /*
                  Removes a select file the user has uploaded
                */
                removeFile(key) {
                    this.files.splice(key, 1);
                }
            },
            mounted() {
                return (
                    axios
                    .get("{{ url_for('projeto_bp.get_projeto',pk=projeto_id) }}", )
                    .then(response => {
                        // debugger
// 
                        this.projeto = response.data.projeto
                    })
                )
            },
            computed: {
                cliente() {
                    return this.projeto.cliente.nome +
                        " - " + this.projeto.cliente.endereco +
                        " - " + this.projeto.cliente.telefone
                },
                data_entrada: {
                    get() {
                        return this.get_data("entrada")
                    },
                    set(nova_data) {
                        this.set_data("entrada", nova_data)
                    }
                },
                hora_entrada: {
                    get() {
                        // debugger
                        return this.get_hora("entrada")
                    },
                    set(nova_hora) {
                        // debugger
                        this.set_hora("entrada", nova_hora)
                    }
                },
                data_medicao: {
                    get() {
                        return this.get_data("medicao")
                    },
                    set(nova_data) {
                        this.set_data("medicao", nova_data)
                    }
                },
                hora_medicao: {
                    get() {
                        return this.get_hora("medicao")
                    },
                    set(nova_hora) {
                        this.set_hora("medicao", nova_hora)
                    }
                },
                data_apresentacao: {
                    get() {
                        return this.get_data("apresentacao")
                    },
                    set(nova_data) {
                        this.set_data("apresentacao", nova_data)
                    }
                },
                hora_apresentacao: {
                    get() {
                        return this.get_hora("apresentacao")
                    },
                    set(nova_hora) {
                        this.set_hora("apresentacao", nova_hora)
                    }
                },
                hora_medicao_locale() {
                    // debugger
                    return this.get_hora("medicao")
                },
                hora_apresentacao_locale() {
                    // debugger
                    return this.get_hora("apresentacao")
                },
                hora_entrada_locale() {
                    // debugger
                    return this.get_hora("entrada")
                },
            },


        }
        const app = Vue.createApp(App)
        app.component('button-save', {
            props: ['field_name'],
            data() {
                return {
                    save: true,
                    loading: false,
                    ready: false
                }
            },
            methods: {
                atualizar_projeto(field_name) {
                    data = {}
                    data[field_name] = this.$parent.projeto[field_name]
                    // debugger
                    axios
                        .patch("{{ url_for('projeto_bp.update_projeto',pk=projeto_id) }}", data)
                        .then(response => {
                            if (response.status === 204) {
                                this.loading = false
                                this.ready = true
                            }
                        })
                        .catch(
                            function (error) {
                                console.log(error);
                            })
                },
            },
            template: '#button-save'
        })
        app.mount("#app")
    </script>
</main>

{% endblock main %}