{% extends 'layout.html' %}
{% block main %}

<main class="container  mx-auto px-6">
    <!-- <a href="">NOVO PROJETO</a> -->
    <div class="cloud x2"></div>

    <div class="flex justify-center">
        <!-- Button trigger modal -->
        <a href="{{ url_for('novo') }}" type="button" class="flex-none mx-2">
            <img class="h-20 md:max-h-screen" src="{{ url_for('static', filename='imgs/pessoa_fundo_verde.png') }}"
                alt="" srcset="">
            <!-- <i class="bi bi-calendar-plus"></i> -->
        </a>
        <a href="{{ url_for('busca') }}" type="button" class="flex-none mx-2">
            <img class="h-20 md:max-h-screen" src="{{ url_for('static', filename='imgs/lupa2-trans.ico') }}" alt=""
                srcset="">
            <!-- <i class="bi bi-search"></i>  -->
        </a>
        <a href="{{ url_for('entregas') }}" type="button" class="flex-none mx-2">
            <img class="h-20 md:max-h-screen" src="{{ url_for('static', filename='imgs/quadro.png') }}" alt=""
                srcset="">
            <!-- <i class="bi bi-calendar-check"></i> -->
        </a>

        <a href="{{ url_for('devolutivas') }}" type="button" class="flex-none mx-2">
            <img class="h-20 md:max-h-screen" src="{{ url_for('static', filename='imgs/dinheiro.png') }}" alt=""
                srcset="">
            <!-- <i class="bi bi-calendar-check"></i>-->
        </a>
    </div>
</main>

{% endblock main %}