<!DOCTYPE html>
<html lang="pt-br" id="clouds">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SGP</title>
	<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
	{% block link_rel %}
		
	{% endblock link_rel %}
	<link href="{{ url_for('static', filename='css/nuvens.css') }}" rel="stylesheet">
	<script src="https://unpkg.com/vue@next"></script>
	<style>
		
		
	</style>
</head>
<header>
	<a href="/" class="flex justify-center {% block logo_class %}{% endblock logo_class %}">
		<img src="{{ url_for('static',filename='imgs/logo.ico') }}" alt="" class="h-32" srcset="">
	</a>
</header>
{% block main %}
	
{% endblock main %}
</html>