<!DOCTYPE html>
<html lang="pt-br" id="clouds" data-theme="light">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SGP</title>
	<link rel="shortcut icon" href="{{ url_for('static',filename='imgs/logo.png') }}">


	{% block link_rel %}
	{% endblock link_rel %}
	<link href="{{ url_for('static', filename='css/nuvens.css') }}" rel="stylesheet">

	{% assets 'css' %}
		<link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}
	<link href="https://cdn.jsdelivr.net/npm/daisyui@1.14.2/dist/full.css" rel="stylesheet" type="text/css" />
	<link href="https://cdn.jsdelivr.net/npm/daisyui@1.14.6/dist/themes.css" rel="stylesheet" type="text/css" />

	<script src="https://unpkg.com/vue@next"></script>
	<style>

		{% block style %}

		{% endblock %}
	</style>
	<script src="https://kit.fontawesome.com/3db21c2fa2.js" crossorigin="anonymous"></script>
</head>
<body class="flex flex-col h-screen">
	
	<header>
		<a href="/" class="flex justify-center {% block logo_class %}{% endblock logo_class %}">
			<img src="{{ url_for('static',filename='imgs/logo.png') }}" alt="" class="h-32" srcset="">
	</a>
</header>
	{% block main %}
	{% endblock main %}
</body>
</html>