<form action="/adm" method="post">
    <label for="cliente_nome">cliente_nome</label>
    <input name="cliente_nome" type="text" placeholder="cliente_nome" value="{{projeto.cliente_nome}}"> <br>
    <label for="telefone">telefone</label>
    <input name="telefone" type="tel" placeholder="telefone" value="{{projeto.telefone}}"> <br>
    <label for="endereço">endereço</label>
    <input name="endereço" type="text" placeholder="endereço" value="{{projeto.endereço}}"> <br>
    <label for="data_entrada">data_entrada</label>
    <input name="data_entrada" type="date" placeholder="data_entrada" value="{{projeto.data_entrada}}"> <br>
    <label for="ambientes">ambientes</label>
    <input name="ambientes" type="text" placeholder="ambientes" value="{{projeto.ambientes}}"> <br>
    <label for="data_medição">data_medição</label>
    <input name="data_medição" type="date" class="date" placeholder="data_medição" value=""> <br>
    <label for="fotos_medição">fotos_medição</label>
    <input name="fotos_medição" type="file" placeholder="fotos_medição" value=""> <br>
    <label for="data_final">data_final</label>
    <input name="data_final" type="" placeholder="data_final" value=""> <br>
    <label for="promobe_arquivos">promobe_arquivos</label>
    <input name="promobe_arquivos" type="file" placeholder="promobe_arquivos" value=""> <br>
    <label for="renders_jpg">renders_jpg</label>
    <input name="renders_jpg" type="f" placeholder="renders_jpg" value=""> <br>
    <label for="medidas_pdf">medidas_pdf</label>
    <input name="medidas_pdf" type="file" placeholder="medidas_pdf" value=""> <br>
    <label for="data_apresentação">data_apresentação</label>
    <input name="data_apresentação" type="date" class="date" placeholder="data_apresentação" value=""> <br>
    <label for="aprovação">aprovação</label>
    <input name="aprovação" type="checkbox" placeholder="aprovação" value=""> <br>
    <label for="orçamento">orçamento</label>
    <input name="orçamento" type="number" placeholder="orçamento" value=""> <br>
    <label for="pagamento">pagamento</label>
    <input name="pagamento" type="number" placeholder="pagamento" value=""> 

</form>