{% extends 'layout.html' %}
{% block link_rel %}
<link href="https://cdn.jsdelivr.net/npm/daisyui@1.14.2/dist/full.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static' ,filename='busca.css') }}">
{% endblock link_rel %}
{% block main %}
{% block logo_class %}
{% endblock logo_class %}
<main class="">

	<div class="menu-buttons">
		<img src="{{ url_for('static',filename='icons/search.png')}}" alt=""
			class="" srcset="">
	</div>

	<div id="app">
		<div class="form-control">

			<div class="relative">
				<input name="busca" v-model="busca" type="text" placeholder="Comece a digitar..."
					class="input input-amarelo input-com-borda">
			</div>
		</div>
		<br>
		<cliente-item v-for="cliente in clientes" :key="cliente.id" :cliente="cliente"></cliente-item>
	</div>

	<script src="https://unpkg.com/vue@next"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
	<script src="https://unpkg.com/lodash@4.17.20/lodash.min.js"></script>
	<script>
		const urlBusca = '{{ url_for("cliente_bp.busca_cliente",busca="") }}'; //substitui pela url de busca;
		const urlLista = '{{ url_for("cliente_bp.lista_clientes") }}'; //substitui pela url de busca;
		const urlCliente = '{{ url_for("cliente") }}';
		const urlNovo = '{{ url_for("novo") }}/';
	</script>
	<script src="{{ url_for('static', filename='js/busca.js') }}"></script>



</main>
{% endblock main %}