{% extends 'layout.html' %}
{% block link_rel %}
<link href="{{ url_for('static', filename='cliente.css') }}" rel="stylesheet">
{% endblock link_rel %}
{% block main %}
<main class="container mx-auto px-6 mb-auto">

    <div class="menu-buttons">
        <img src="{{ url_for('static',filename='icons/file.png')}}" alt="" srcset="">
    </div>
		
    
    <div id="app" class="">

        <div class="card text-center shadow-2xl">
            <figure class="">
                <img :src="'https://avatars.dicebear.com/api/gridy/'+cliente.nome+'.svg'">
            </figure>
            <div class="card-body">
                <h2 class="card-title">@{cliente.nome}</h2>
                <h3 class="card-title">@{cliente.endereco}</h3>
                <h3 class="card-title">@{cliente.telefone}</h3>
                <p v-for="proj in cliente.projetos">
                    <a :href="'{{ url_for("index") }}'+'detalhes/'+proj.id"
                    class="btn btn-info btn-sm mt-1"
                    ><b>Projeto:</b> @{proj.id}</a>
                <!-- <span>@{proj.data_apresentacao}</span>
                <span>@{proj.data_medicao}</span> -->
                </p>

                <div class="justify-center card-actions">
                    <a :href="'{{ url_for('novo') }}/' + cliente.id" class="btn-submit">+Novo Projeto</a>
                </div>
            </div>
        </div>


    </div>
    
</main>

<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>

<script type="application/javascript">
    const urlPegaCliente = "{{ url_for('cliente_bp.pega_cliente',pk=cliente_id) }}";
    //const urlPegaCliente = "{{ url_for('cliente_bp.pega_cliente',pk=cliente_id) }}";
</script>

<script src="{{ url_for('static',filename='js/cliente.js') }}"></script>


{% endblock main %}