<div class="table-responsive">

    <table id="tabela_projetos" class="table table-striped" id="showresults">
      <thead>
        <tr>
          <th style="width:5%; text-align: center;" scope="col">id</th>
          <th style="width:5%; text-align: center;" scope="col">cliente_nome</th>
          <th style="width:10%; text-align:center" scope="col">telefone</th>
          <th style="width:60%" scope="col">endereço</th>
          <th style="width:10%; text-align:center" scope="col">data_entrada</th>
          <th style="text-align:center" scope="col">ambientes</th>
        </tr>
      </thead>



      <tbody>
        {% for projeto in projetos %}

        <tr class="">
          
          <td style="text-align:center" scope="row">
            <a href="{{url_for('adm',id=projeto.id)}}">vai</a>
        </td>
          <td style="text-align:center" scope="row">
            <input type="text" value = {{projeto.cliente_nome}}></td>
          <td style="text-align:center">
            <input type="text" value = {{projeto.telefone}}></td>
          <td class="descricao" style=" white-space:nowrap;overflow:hidden;text-overflow:ellipsis;max-width:100px;">
            
            <input type="text" value = {{projeto.endereço}}></td>
          <td class="status" style="text-align:center">
            <input type="text" value = {{projeto.data_entrada}}></td>
          <td style="text-align:center">
            <input type="text" value = {{projeto.ambientes}}></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  