{% extends 'layout.html' %}
{% block link_rel %}
{% endblock link_rel %}
{% block style %}
.table tbody td, .table tbody th {
    --tw-bg-opacity: 1;
}

{% endblock  %}

{% block main %}
<main class="container mx-auto px-6">
	<div class="flex justify-center">
		<img src="{{ url_for('static',filename='imgs/quadro.png')}}" alt="" class="h-16 w-16" srcset="">
	</div>
	<div class="cloud x2"></div>
	<p class="text-xs">AMARELO SÃO PROJETOS QUE ESTÃO FICANDO ATRASADOS</p>
	<div id="app">
		<table class="table w-full">
			<tbody>

				<tr
					is="vue:projeto-row"
					v-for="projeto in projetos"
					:key="projeto.id"
					:projeto="projeto"
					@click="detalhes(projeto.id)"
				></tr>

			</tbody>
		</table>



	</div>

	<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
	<script type="text/x-template" id="projeto-row">
		<tr class="space-y-6" >
			<th class=" rounded-full bg-white  px-4 py-2 text-sm text-black " :class="colorStatus">@{projeto.cliente.nome}</th>
			<td class=" rounded-full bg-white  px-4 py-2 text-sm text-black" :class="colorStatus">
				<span v-for="amb in projeto.ambientes" :key="amb.id">
				@{amb.nome}, </span>
			</td>
			<td class="rounded-full bg-white  px-4 py-2 text-sm text-black" :class="colorStatus" >@{projeto.fotos}</td>
			<td class="rounded-full bg-white  px-4 py-2 text-sm text-black" :class="colorStatus" >
				<a v-for='arq in projeto.arquivos' :href='arq.url'>@{arq.nome} - </a>	
			</td>
			<td class="rounded-full bg-white  px-4 py-2 text-sm text-black" :class="colorStatus" >@{projeto.pdf}</td>
		</tr>
</script>
	<script>
		const App = {
			compilerOptions: {
				delimiters: ['@{', '}']
			},
			data() {
				return {
					projetos: [{
						ambientes: [{
							id: -1,
						}, ],
						cliente: {
							nome: "",
						},
						data_apresentacao: "",
						data_entrada: "",
						data_medicao: "",
						fotos: null,
						id: -1,
					}, ]
				}
			},
			methods:{
				detalhes(id){
					location.pathname = "{{ url_for('index') }}" + "detalhes/" + id				
				}
			},

			mounted() {
				return (
					axios
					.get("{{ url_for('projeto_bp.get_projetos') }}", )
					.then(response => {
						this.projetos = response.data.projetos
					})
				)
			},
		}
		const app = Vue.createApp(App)
		app.component('projeto-row', {
			compilerOptions: {
				delimiters: ['@{', '}']
			},
			props: ['projeto'],
			computed: {
				colorStatus() {
					if (!this.projeto.data_medicao) {
						return "bg-white"
					}
					const data_medicao = new Date(this.projeto.data_medicao);
					// debugger
					const now = new Date();
					const diffTime = Math.abs(data_medicao - now);
					const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
					//console.log(diffDays + " days");

					console.log(data_medicao, now)
					if (diffDays >= 7) {
						return "bg-red-200"
					} else {
						return "bg-white"
					}
				}
			},
			template: "#projeto-row"
		})
		app.mount("#app")
	</script>
</main>
{% endblock main %}
<script>
	a = {
		ambientes: [{
				id: 1,
				nome: "sala",
				projeto_id: 1
			},
			{
				id: 2,
				nome: "teto",
				projeto_id: 1
			}
		],
		aprovacao: false,
		arquivos: null,
		cliente: {
			endereco: "longe 1",
			id: 1,
			nome: "nome 1",
			telefone: "19929 92929 1"
		},
		cliente_id: 1,
		data_apresentacao: "2021-09-01T18:12:12",
		data_entrada: "2021-09-01T09:19:09",
		data_medicao: "2021-09-01T18:12:12",
		fotos: null,
		id: 1,
		orcamento: null,
		pagamento: null,
		usuario_id: 1
	}
</script>