{% extends 'layout.html' %}
{% block link_rel %}
{% endblock link_rel %}
{% block body %}
	
<body class="container mx-auto px-6">
	<div class="cloud x2"></div>
	<div id="app">
		<div class="table  w-full">
			<div class="table-row-group ">
				<div v-for="projeto in projetos" :key="projeto.id" class="table-row">
					<div class="table-cell rounded-full bg-white text-gray-700 px-4 py-2 text-sm">{{'{{'}}projeto.nome{{'}}'}}</div>
					<div class="table-cell rounded-full bg-white text-gray-700 px-4 py-2 text-sm">{{'{{'}}projeto.comodo{{'}}'}}sala</div>
					<div class="table-cell rounded-full bg-white text-gray-700 px-2 py-2 text-sm">{{'{{'}}projeto.promob{{'}}'}}f</div>
					<div class="table-cell rounded-full bg-white text-gray-700 px-2 py-2 text-sm">{{'{{'}}projeto.fotos{{'}}'}}f</div>
					<div class="table-cell rounded-full bg-white text-gray-700 px-2 py-2 text-sm">{{'{{'}}projeto.pdf{{'}}'}}f</div>
				</div>
			</div>

		</div>
	</div>


	<script>
		const app = {
			data() {
				return {
					projetos: [
						{ nome: "carlos", comodo: "sala", promob: "", fotos: "", pdf: "", id:12 },
						{ nome: "lara", comodo: "quarto", promob: "", fotos: "", pdf: "", id:2 },
						{ nome: "marcia", comodo: "varanda", promob: "", fotos: "", pdf: "", id:3 },
						{ nome: "rodriguete", comodo: "bicleario", promob: "", fotos: "", pdf: "", id: 4},
						{ nome: "abraham", comodo: "garagem", promob: "", fotos: "", pdf: "", id:5 },
						{ nome: "nina", comodo: "etc", promob: "", fotos: "", pdf: "", id:6 }
					]

				}
			},
			watch: {

			},
		}
		const vm = Vue.createApp(app)
		vm.mount("#app")
	</script>
</body>
{% endblock body %}
