<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SGP</title>
    <link rel="shortcut icon" href="{{url_for('static',filename='imgs/logo.png')}}">
    <link href="https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="{{url_for('static',filename='base.css')}}">
	<!-- <link rel="stylesheet" href="../static/index_tela.css"> -->

	{% block link_rel %}
	{% endblock link_rel %}

    {# {% assets 'css' %}
		<link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %} #}
	<style>{% block style %}{% endblock %}</style>
</head>

<header>
    <a href="/" class="">
        <img src="../static/icons/g_logo.svg" alt="" class="" srcset="">
    </a>
</header>
	{% block main %}
	{% endblock main %}
</html>