{% extends 'layout.html' %}
{% block body %}

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Novp Projeto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form action="{{url_for('novo_projeto')}}" method="post">

                        {{ form.csrf_token }}
                        <br>
                        <div class="form-group">
                            <!-- NOME -->
                            {{ form.cliente_nome.label(

                            )
                            }}
                            {{ form.cliente_nome(
                                class="col-sm-2 col-form-label",
                            class="form-control",
                            placeholder="Nome do Cliente"
                            )
                        }}
                            <!-- TELEFONE -->
                            {{ form.telefone.label(
                            class="form-label", for="typePhone"
                            )
                            }}
                            {{ form.telefone(
                            type="tel",
                            class="form-control phone_with_ddd"
                            )
                            }}
                            <!-- ENDEREÇO -->
                            {{ form.endereço.label(
                                
                            )
                            }}
                            {{ form.endereço(
                                class="col-sm-2 col-form-label",
                                class="form-control",
                                placeholder="Endereço",
                                
                                )
                            }}
                            <!-- AMBIENTES -->
                            <div hidden>
                                {{ form.ambientes(
                                    class="col-sm-2 col-form-label",
                                    class="form-control",
                                    placeholder="Ambientes"
                                    )
                                }}
                            </div> 
                            

                            {{ form.submit(
                                type="submit",
                            class="btn btn-primary"
                            ) }}
                        </div>
                        
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('.phone_with_ddd').mask('(00) 00000-0000');
        });
    </script>

{% endblock body %}