{% extends 'layout.html' %}
{% block body %}
<main class="container">


    <form action="/cria" method="post">

        <div class="row justify-content-md-center">
            <div class="form-group col-md-auto">
                <label for="cliente_nome">cliente_nome: </label>
                <input type="text" name="cliente_nome" id="" value={% if config["TESTE"]%}teste {%endif%}>
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="form-group col-md-auto">
                <label for="telefone">telefone: </label>
                <input type="tel" name="telefone" id="" value={% if config["TESTE"]%}(19)99999-9999 {%endif%}>
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="form-group col-md-auto">
                <label for="data_entrada">data_entrada: </label>
                <input type="date" class="date" name="data_entrada" id="" value={% if config["TESTE"]%}{%endif%}>
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="form-group col-md-auto">
                <label for="endereço">endereço: </label>
                <input type="text" name="endereço" id="" value={% if config["TESTE"]%} "av.16 a 1300" {%endif%}>
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="form-group col-md-auto">
                <label for="ambientes">ambiente  
                    <input type="text" name="ambientes" id="ambientes" value={% if config["TESTE"]%}teste {%endif%}>
                    <button type="button" class="button" id="mais" onclick="novoCampo()">+</button>
                </label>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="form-group col-md-auto">
                <input type="submit" value="vai">
            </div>
        </div>


    </form>
   

    <script>
        function novoCampo() {
            console.log("S");
            $('<br><input type="text" name="ambientes" id="" value={% if config["TESTE"]%}teste {%endif%}>').appendTo($("label[for='ambientes']"))
        }
    </script>
    </div>
</main>

{% endblock body %}