{% extends 'layout.html' %}

{% block body %}

<main class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            Busca:
        </div>
        <div class="col-md-auto">
            <input type="search" name="busca" id="busca">
        </div>
    </div>
    <br>
    <form action="/atualiza" method="POST" enctype=multipart/form-data >
    <ul class="list-group">

        <li class="list-group-item">Nome: <input value="" type="text" name="cliente_nome"> <button>edit</button> </li>
        <li class="list-group-item">Tel: <input value="" type="text" name="telefone"> <button>edit</button> </li>
        <li class="list-group-item">Endereco: <input value="" type="text" name="endereco"> <button>edit</button> </li>
        <li class="list-group-item">Entrada: <input value="" type="date" name="data_entrada"> <button>edit</button>
        </li>
        <li class="list-group-item">Ambientes: <input value="" type="text" name="ambientes"> <button>edit</button> </li>
        <li class="list-group-item">Medicao: <input value="" type="date" name="data_medicao"> <button>edit</button>
        </li>
        <li class="list-group-item">Apresentacao: <input value="" type="date" name="data_apresentacao">
            <button>edit</button>
        </li>
        <li class="list-group-item">Aprovacao:
            <select id="aprovacao" name="aprovacao" class="form-select" aria-label="Default select example">
            <option value="Aprovado">Aprovado</option>
            <option value="Pendente">Pendente</option>
          </select>
        </li>
        <li class="list-group-item">Orcamento: <input value="" type="text" name="orcamento"> <button>edit</button> </li>
        <li class="list-group-item">Pagamento: <input value="" type="text" name="pagamento"> <button>edit</button> </li>
        <li class="list-group-item">Final: <input value="" type="date" name="data_final"> </li>
        <li class="list-group-item">Promobe: <input value="" type="file" name="promobe_arquivos"> </li>
        <li class="list-group-item">Renders: <input value="" type="file" name="renders_jpg"> </li>
        <li class="list-group-item">Fotos: <input value="" type="file" name="fotos_medicao"> </li>
        <li class="list-group-item">Medidas: <input value="" type="file" name="medidas_pdf"> </li>
    </ul>
    <input type="text" name="id" id="id" hidden>
<button type="submit" >enviar   </button>
</form>
</main>

<script>

    $.ajax({
        url: "/procura2",
        dataType: "json",
        success: function (jresponse) {
            var data = jresponse;

            $("#busca").autocomplete({
                source: data,
                minLength: 1,
                autoFocus: true,

                select: function (event, ui) {
                    event.preventDefault();
                    $("#form").show();

                    $('#busca').val(ui.item.label);
                    //$("input[name='id']").val(ui.item.id);
                    $("input[name='cliente_nome']").val(ui.item.value.cliente_nome);
                    $("input[name='telefone']").val(ui.item.value.telefone);
                    $("input[name='endereco']").val(ui.item.value.endereco);
                    debugger;
                    $("input[name='data_entrada']").val(ui.item.value.data_entrada);
                    $("input[name='data_medicao']").val(ui.item.value.data_medicao);
                    $("input[name='data_final']").val(ui.item.value.data_final);
                    $("input[name='fotos_medicao']").val(ui.item.value.fotos_medicao);
                    //$("input[name='promobe_arquivos']").val(ui.item.value.promobe_arquivos);
                    //$("input[name='renders_jpg']").val(ui.item.value.renders_jpg);
                    //$("input[name='medidas_pdf']").val(ui.item.value.medidas_pdf);
                    $("input[name='data_apresentacao']").val(ui.item.value.data_apresentacao);
                    $("#aprovacao").val(ui.item.value.aprovacao);
                    $("input[name='orcamento']").val(ui.item.value.orcamento);
                    $("input[name='pagamento']").val(ui.item.value.pagamento);
                    $("#ambientes").val(ui.item.value.ambientes[0])
                    for (var i = 1; i < ui.item.value.ambientes.length; i++) {
                        console.log(ui.item.value.ambientes[i]);
                        $("#ambientes_ul").append(
                            $('<li></li>').append(
                                $('<input name="ambientes" type="text" placeholder="ambientes" value="">')
                                    .val(ui.item.value.ambientes[i])
                            )
                        );
                    };
                    $("input[name='id']").val(ui.item.value.id);

                    //$("input[name='ambientes']").val(ui.item.value.ambientes[0].comodo);


                },
                focus: function (event, ui) {
                    event.preventDefault();

                },
                change: function (event, ui) {
                    event.preventDefault();
                },
            }).autocomplete("instance")._renderItem = function (ul, item) {
                return $("<li class=\"list-group-item\" >")
                    .append(item.label)
                    .appendTo(ul);
            };
        },
        error:function(error){
            console.log({error})
        }
    });

    $("button>i").click(function () {
        this.parentElement.parentElement.firstElementChild.disabled = false;
        this.after($('<i class="bi bi-check-square"></i>'));
    })


</script>
{% endblock body %}