{% extends 'layout.html' %}

{% block body %}



<div class="table-responsive">

  <table id="tabela_projetos" class="table table-striped" id="showresults">
    <thead>
      <tr>
        <th style="width:5%; text-align: center;" scope="col">Nome</th>
        <th style="width:60%" scope="col">$</th>
        <th style="width:60%" scope="col">$%</th>
      </tr>
    </thead>



    <tbody>
      {% for ambiente in ambientes %}

      <tr class="">

        <td style="text-align:center" scope="row">
          <input type="text" value={{ambiente.projetos.cliente_nome}}>
        </td>

        <td style="text-align:center">
          <input type="text" value={{ambiente.projetos.orçamento}}>
        </td>
        
        <td style="text-align:center">
          <input type="text" value={{ambiente.projetos.pagamento}}>
        </td>

        
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock body %}