{% extends 'admin/master.html' %}

{% block body %}

<main class="container">
    <div class="row justify-content-center">
        <div class="col-auto ">
            
            <a href="{{url_for('projetos.create_view')}}"
            type="button" class="btn btn-default btn-sm ">
                <i class="bi bi-calendar-plus"></i> </a>
        </div>
    </div>
    
    <div class="row justify-content-center">
        <div class="col-auto ">
            
            <a href="/" type="button" class="btn btn-default btn-sm">
                <i class="bi bi-search"></i>            </a> 
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto ">
            
            <a href="/" type="button" class="btn btn-default btn-sm">
                <i class="bi bi-calendar-check"></i>            </a> 
        </div>
    </div>

</main>
{% endblock %}
